<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}StudHelper{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column min-vh-100">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2B71C7">
                <div class="container">
                    <a class="navbar-brand text-white" href="{% url 'home' %}" style="font-weight: bold">StudHelper</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active text-white" href="{% url 'users:profile' %}">{{ user.username }}</a>
                                <form method="post" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary w-100 btn-lg">Выйти</button>
                                    </form>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active text-white" href="{% url 'users:register' %}">Зарегестрироваться</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white" href="{% url 'users:login' %}">Войти</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <main class="container mt-4 flex-grow-1">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="text-white mt-5 py-4" style="background-color: #2B71C7">
                <div class="container text-center">
                    Python-labs project by Alyaksey Lanewski & Stelmach Svyatoslav
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
    </body>
</html>